@model RadConsult.Models.Scan
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Title</h1>
    <div>@Model.Description</div>
</body>
</html>